<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script type="module" src="../scripts/getProfile.js" defer></script>
    <script type="module" src="../scripts/savePdf.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <button name="pdf" type="button" id="pdf">Generate PDF report</button>
      </nav>
    </header>
    <h1>User Report</h1>
    <div id="username"><strong>User name:{{username}}</strong></div>
    <div id="videosCount"><strong>Total videos uploaded by user:{{videosCount}}</strong></div>
    <div id="commentsCount"><strong>Total comments by user:{{commentsCount}}</strong></div>
    <div id="likesCount"><strong>Total liked videos by user:{{likesCount}}</strong></div>
    <div id="dislikesCount">
      <strong>Total disliked videos by user:{{dislikesCount}}</strong>
    </div>
    <div id="favoritesCount"><strong>Total favorited videos:{{favoritesCount}}</strong></div>
  </body>
</html>
